<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contactus">Contact Us</a>
    </nav>
    <h2>Login</h2>
    <form id="loginForm" method="POST" action="/login">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>
