<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>Success</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/contactus">Contact Us</a>
    </nav>
    <h2>Form successfully filled!</h2>
</body>
</html>
